.trainingCategoriesHidden {
    display: block !important;
}

.trainingCategories{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: -50px !important;
    display: none;
}

.subCatAlign{
   margin-left: 24% !important;
}


.iconBox{
    display: flex;
    margin-left: 75%;
    position: relative;
    bottom: 49px;
    height: 49px;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    max-width: 50%;
    width: 25% !important; 
    cursor: pointer;

}
.iconBox:hover{
    background-color: rgb(232, 232, 232);
}

.trainingBtn{
    max-width: 75%;

}

.navList{
    margin-bottom: -40px !important;
}