@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.calendar {
  margin: 0 auto;
  max-width: 900px;
  background: white;
}

#datepicker {
  opacity: 0;
  position: absolute;
  left: 46%;
  bottom: 65%;
}

.MeetingDetails-main {
}
