.hidden {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 700px;
  button {
    width: 190px;
    height: 45px;
    margin: 8px 0;
    text-align: center;
  }
}

//forces bootstrap styles to be orange on login form
.md-form input:focus {
  box-shadow: 0 1px 0 0 orange !important;
  border-bottom: 1px solid orange !important;
}

.md-form input:focus:not([readonly]) + label {
  color: orange !important;
}

.md-form .prefix.active {
  color: orange !important;
}
