@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.calendar-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  margin: 50px auto 0 auto;
}

.calendar-app-top {
  margin: 0 0 3em;
  h1 {
    margin: auto;
    text-align: center;
    @media screen and (max-width: 600px) {
      font-size: 30px;
    }
  }
}

.calendar {
  margin: 0 auto;
  max-width: 900px;
  background: white;
}

#datepicker {
  opacity: 0;
  position: absolute;
  left: 46%;
  bottom: 65%;
}
