.contactform-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 700px;
  button {
    width: 150px;
    height: 45px;
    margin: 8px 0;
    text-align: center;
  }
}
