#bgImg {
  min-height: 100%;
  background: linear-gradient(0deg, #412146b3, #412146b3),
    url(./assets/landing-page-2.jpg);
  background-size: cover;
}

.impactCard {
  .cardTextHead {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
  .cardTextWrapper {
    color: #ffffff;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  &__2 .cardTextHead {
    color: #000000;
  }
}

.cardIconWrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #ffffff;
  border-radius: 10%;
  .cardIcon {
    height: 35px;
    width: 100%;
  }
}

.landing-page-about {
}
