.messaging-wrapper {
  // height: 80vh;
  .message-h2 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 0.35em;
    @media screen and (max-width: 600px) {
      font-size: 25px;
    }
  }
  .list-conversations-wrapper {
    // width: 50%;
    // height: 78vh;
    margin: 10px;
    overflow: auto;
    .conversation-list-item {
      margin-top: 20px;
      cursor: pointer;
      background-color: white;
      img {
        width: 100px;
        border-radius: 100%;
      }
    }
    // @media screen and (max-width: 500px) {
    //   height: 60vh;
    // }
    // @media screen and (max-width: 400px) {
    //   height: 60vh;
    // }
  }
  .conversations-wrapper {
    width: 100%;
    height: 50vh;
    background-color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;

    @media screen and (max-width: 600px) {
      margin-bottom: 20%;
    }
    @media screen and (max-width: 500px) {
      height: 48vh;
    }

    .message-wrapper {
      line-height: 100%;
      display: block;
      position: relative;
      padding: 0.25em 0.5em;
      border: none;
      margin-bottom: 0.5em;
      clear: both;
    }

    .message-sender {
      text-align: center;
    }
    .right {
      float: right;
      .message-content {
        font-size: 0.9rem;
        background: lightblue;
        border: lightblue solid 1.5px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 15px;
        border-bottom-right-radius: 0px;
        padding: 7% 5% 5% 5%;
        p {
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
    .left {
      float: left;
      .message-content {
        font-size: 0.9rem;
        background-color: lightgrey;
        border: lightgrey solid 1.5px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        padding: 7% 5% 5% 5%;
        p {
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
    .avatar-right {
      float: right;
      // margin-left: 10%;
      margin-top: 5%;
    }
    .avatar-left {
      float: left;
      // margin-right: 10%;
      margin-top: 5%;
    }
    // p {
    //   font-size: 1.3rem;
    // }
    .sent-span {
      text-align: center;
      .sent-date {
        font-size: 0.8rem;
      }
    }
    .input-wrapper {
      .conversation-form {
        width: 70%;
        margin: 0 auto;
        right: 10%;
      }
      form {
        // background-color: white;
        position: absolute;
        top: 89%;
        display: flex;
        width: 92%;
        height: 35px;
        margin-top: 10px;
        @media screen and (max-width: 600px) {
          width: 90%;
        }
        .md-form {
          margin: 0px;
        }
        .send-icon {
          margin-top: 2%;
          padding-top: 0.5%;
          margin-left: 2%;
        }
        input {
          padding-left: 1%;
          padding-right: 5%;
          // margin-right: 5%;
        }
      }
    }
  }
}

.conversation-selection {
  // background: black;
  width: 80%;
  margin: 2% auto;
  margin-bottom: 4%;
  font-size: 5rem;
  display: flex;
  button {
    width: 100%;
    padding: 2%;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.open-conversation-button {
  margin: 500px;
}

.menu-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 681px) {
  .modal-md {
    max-width: 80%;
    margin-left: 75px;
  }
  .closeButton {
    max-height: 40px;
  }
}
