.messaging-wrapper {
  // display: flex;
  // flex-wrap: nowrap;

  // h1 {
  //     text-align: center;
  //     width
  .list-conversations-wrapper {
    // width: 50%;
    height: 78vh;
    margin: 10px;
    overflow: auto;
    .conversation-list-item {
      margin-top: 20px;
      cursor: pointer;
      background-color: white;
      img {
        width: 100px;
        border-radius: 100%;
      }
    }
  }
  .conversations-wrapper {
    width: 100%;
    // margin-bottom: 20px;
    height: 60vh;
    background-color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      width: 95%;
    }
    @media screen and (max-width: 500px) {
      width: 92%;
      height: 56vh;
    }

    .message-wrapper {
      //   height: 80%;
      //   width: 90%;
      line-height: 100%;
      display: block;
      position: relative;
      padding: 0.25em 0.5em;
      border: none;
      // -webkit-border-radius: 11px;
      // -moz-border-radius: 11px;
      // border-radius: 15px;
      margin-bottom: 2em;
      clear: both;
      // max-width: 50%;
    }

    .message-sender {
      text-align: center;
    }
    .right {
      float: right;
      // width: 20%;
      // margin-left: 10%;
      // background: lightblue;
      // border-bottom-left-radius: 0px;
      .message-content {
        font-size: 0.9rem;
        background: lightblue;
        border: lightblue solid 1.5px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 15px;

        border-bottom-right-radius: 0px;
        // height: 35px;
        padding: 7% 5% 5% 5%;
        p {
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
    .left {
      // background-color: lightgrey;
      float: left;
      // border-bottom-right-radius: 0px;
      // margin-right: 10%;
      .message-content {
        // border: lightgrey solid 1.5px;
        background-color: lightgrey;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        // height: 35px;
        padding: 6%;

        p {
          font-size: 1rem;
          line-height: normal;
        }
      }
    }
    .avatar-right {
      float: right;
      // margin-left: 10%;
      margin-top: 5%;
    }
    .avatar-left {
      float: left;
      // margin-right: 10%;
      margin-top: 5%;
    }
    // p {
    //   font-size: 1.3rem;
    // }
    .sent-span {
      text-align: center;
      .sent-date {
        font-size: 0.8rem;
      }
    }
    .input-wrapper {
      .conversation-form {
        width: 70%;
        margin: 0 auto;
        right: 10%;
      }
      form {
        background-color: white;
        position: absolute;
        top: 89%;
        display: flex;
        width: 92%;
        height: 35px;
        margin-top: 10px;
        @media screen and (max-width: 600px) {
          width: 90%;
        }
        .md-form {
          margin: 0px;
        }
        .send-icon {
          margin-top: 2%;
          padding-top: 0.5%;
        }
        input {
          padding-left: 1%;
          padding-right: 5%;
          // margin-right: 5%;
        }
      }
    }
  }
}

.conversation-selection {
  // background: black;
  width: 40%;
  font-size: 5rem;
  button {
    @media screen and (max-width: 600px) {
      font-size: 100px;
    }
  }
}

.menu-item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 681px) {
  .modal-md {
    max-width: 80%;
    margin-left: 75px;
  }
  .closeButton {
    max-height: 40px;
  }
}
