.dashboard-table-title {
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.flex {
  display: flex;
}

#approved-list-photo {
  max-width: 100px;
  max-height: 100px;
}

/* use this class to style material cards beyond what React-Tiny-Link is capable of

.react_tinylink_card.sc-gzVnrw.gilWtX {

} 

*/

.material-list {
  width: 75%;
  margin-left: 250px;

}

.progressBar{
  margin: 50px 0px;
}