.dashboard-table-title {
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.flex {
  display: flex;
}

#approved-list-photo {
  max-width: 100px;
  max-height: 100px;
}

/* use this class to style material cards beyond what React-Tiny-Link is capable of

.react_tinylink_card.sc-gzVnrw.gilWtX {

} 

*/

.material-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 250px;
  margin: 0 0 15px 0;
}

/* AddMaterial.js Component Styling */

.add-materials {
  margin-left: 250px;
  width: 75%;
  margin-top: 40px;
}

.md-form {
  width: 80%;
  margin: auto;
}

.dropdown {
  text-align: center;
}

.btn-orange {
  text-align: right;
}

.md-form .prefix {
  font-size: 1rem;
  top: 1.2rem;
}

.progressBar {
  margin: 50px 0px;
}

.dropdown-menu {
  min-width: 16.8rem;
}

.add-button {
  margin-left: 250px;
}
