#dashboardContainer {
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 120px;
}

#dashboard-MDBRow {
  flex-wrap: nowrap;
}
.dashboard-sidemenu {
  /* background-color: green; */

  height: 35 vh;
  text-align: center;
  width: 100%;
  justify-content: end;
  /* color: red; */
  /* border: 1px solid red; */
}
.col-3 {
  max-width: 100%;
}

.sidebar-info {
  text-align: center;
}
.dashboard-sidemenu-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-photo {
  width: 200px;
  height: 200px;
}

.btn {
  background-color: green;
}

.table {
  padding-bottom: 60px;
}

.table-heading {
  text-align: center;
  font-weight: bold;
}
#dashboard-row {
  align-items: center;
}
#dashboard-btns {
  margin: 40px 15px;
}
