.mentor-page-title {
  text-align: center;
}

.mentor-page-title-span {
  color: orange;
  font-weight: 400;
}

.mentor-cards {
  display: inline-block;
}

.mentor-card-mdcontainer {
  text-align: center;
}

.mentor-card-title {
  font-size: 1.5em;
}

.mentor-card-text {
  font-size: 2rem;
}

.mentor-page-cards-wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
